<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ScreenSaver/src/com/touchclarity/buildstatus/DisplayableScreenSaver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.touchclarity.buildstatus.DisplayableScreenSaver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="com.touchclarity.buildstatus.ScreenSaver -singleScreen -dontDrawModuleNames"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ScreenSaver"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.util.logging.config.file=${workspace_loc:ScreenSaver}\test\logging.properties"/>
</launchConfiguration>
